.loading {
	width: 100dvw;
	height: 100dvh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	opacity: 90%;
	z-index: 50;
}

.spinner {
	width: 4rem;
	height: 4rem;
	border: 0.5rem solid white;
	border-top: 0.5rem solid #00c2e4;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadingText {
	font-size: larger;
}
